* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

#top .top-f {
	top: 0;
	left: 370;
	padding-top: 80px;
	position: absolute;
}

#top .top-f p {
	font: 16px "";
	color: #ff334c;
}

#cennerl {
	margin: 0 auto;
	height: 642px;
	background: url(../imges/land/bg_login.jpg) no-repeat center top;
	position: relative;
}

#cennerl .area .ying {
	width: 229px;
	text-align: center;
	font: 16px "";
	padding-left: 20px;
}

#phone,
#name,
#pass,
#login {
	outline: none;
	width: 300px;
	height: 42px;
	margin-bottom: 15px;
	margin-top: 15px;
	border: 2px solid #f5f5f5;
	text-indent: 10px;
}

#login {
	background: #ff334c;
}

#cennerl .area {
	padding: 40px 25px;
	background: #fff;
	height: 340px;
	width: 299px;
	position: absolute;
	right: 25px;
	top: 100px;
}

#cenner .df {
	height: 20px;
}

#top {
	width: 1200px;
	height: 97px;
	margin: 0 auto;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

#top .top-l {
	height: 97px;
	width: 366px;
}

#top .top-l>img {
	float: left;
	width: 366px;
	height: 97px;
}

#top .top-r {
	float: right;
	height: 97px;
	position: absolute;
	right: 0;
	top: 85px;
	padding-right: 10px;
}

#top .top-r>p,
span {
	float: left;
	font-size: 18px;
	color: #ff334c;
}

.ehyFooter {
	padding: 50px 0 20px;
}

.ehyFooter p {
	color: #7e7e7e;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
}

.ehyFooter ul {
	margin: 20px auto;
	width: 600px;
	height: 30px;
	overflow: hidden;
}

.ehyFooter li {
	float: left;
	margin-right: 45px;
}

.ehyFooter li.last {
	margin-right: 0;
}

.ehyFooter li a {
	display: block;
	width: 83px;
	height: 30px;
	text-align: center;
	overflow: hidden;
}

.ehyFooter li img {
	max-width: 83px;
	height: 30px;
}